@import url('https://fonts.googleapis.com/css?family=Ubuntu Mono:300,400');


* {
    box-sizing: border-box;
    font-family: Ubuntu Mono;
    color: rgba(170, 177, 180, 0.938)
}

html {
    background-color: rgb(26, 26, 26);
}
html, body {
    margin: 0;
    padding: 0;
}

.nav ul {
    margin: 0;
}

.nav li {
    display: inline;
}

.nav a {
    display: inline-block;
    padding: .5em;
    color: rgb(64, 224, 157)
}

.main-nav {
    text-align: center;
    font-size: 1.1em;
    font-weight: lighter;
    border-bottom: 1.5px solid rgb(104, 219, 156);
}

.main-nav li {
    padding: 0 5%;
}

.nav a:hover {
    background-color: rgb(100, 100, 100);
}

.main-header {
    background-color: rgb(26, 26, 26);
    background-size: cover;
    padding-bottom: 29px;
}
.button {
    background-color: rgb(26, 26, 26);
}
.h1text {
    text-align: center;
}
